
<div class="items-center justify-start  gap-8 py-8">
    <div>
        <h2 class="text-3xl font-bold mb-4 text-white">Estudios</h2>
        <ul class="text-xl list-disc list-inside text-white">
            <li>Bachillerato en Ciencias - Instituto Santo Tomas de Villanueva (2019-2021)</li>
            <li>Grado en Ingeniería Multimedia - Universidad de Valencia (2021-2025)</li>
        </ul>
    </div>
    <div class="mt-8">
        <h2 class="text-3xl font-bold mb-4 text-white">Experiencia</h2>
        <ul class="text-xl list-disc list-inside text-white">
            <li>Prácticas de Empresa - Codenautas (febrero - abril 2025)</li>
            <li>Profesor de robótica - Auca Projectes educatius (abril - mayo 2025)</li>
        </ul>
    </div>
    <div class="mt-8">
        <h2 class="text-3xl font-bold mb-4 text-white">Habilidades</h2>
        <ul class="habilidades-lista list-none flex flex-wrap gap-2 mb-2">
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/blender/blender-original.svg" alt="Blender" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/bootstrap/bootstrap-plain.svg" alt="Bootstrap" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/androidstudio/androidstudio-original.svg" alt="Android Studio" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/cplusplus/cplusplus-original.svg" alt="C++" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/csharp/csharp-original.svg" alt="C Sharp" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/css3/css3-original.svg" alt="CSS3" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/eclipse/eclipse-original.svg" alt="Eclipse" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/git/git-original.svg" alt="Git" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/html5/html5-original.svg" alt="HTML5" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/java/java-original.svg" alt="Java" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/javascript/javascript-original.svg" alt="JavaScript" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/jetbrains/jetbrains-original.svg" alt="JetBrains" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/mysql/mysql-original.svg" alt="MySQL" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/php/php-original.svg" alt="PHP" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/processing/processing-original.svg" alt="Processing" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/python/python-original.svg" alt="Python" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/rider/rider-original.svg" alt="Rider" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/sqldeveloper/sqldeveloper-original.svg" alt="SQL Developer" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/tailwindcss/tailwindcss-original.svg" alt="Tailwind CSS" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/threejs/threejs-original-wordmark.svg" alt="Three.js" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/unity/unity-original.svg" alt="Unity" ></li>
            <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.17.0/icons/vscode/vscode-original.svg" alt="Visual Studio Code" ></li>
        </ul>
    </div>
</div>
