---
// filepath: src/components/Projects.astro
import ProjectCard from './ProjectCard.astro';

const projects = [
  {
    id: 'proyecto1',
    image: '/portfolioWeb/Usuario-Pruebas.jpg',
    title: 'Visor de campo de golf con realidad aumentada',
    description: 'Una ayuda a los golfista que permite visualizar el campo en el que juegas desde diferentes perspectivas. Mostrando las distancias a los obstaculos.',
    githubUrl: 'https://github.com/kitex03/TFG',
    videoUrl: 'https://vimeo.com/1119003775?share=copy',
  },
  {
    id: 'proyecto2',
    image: '/portfolioWeb/imagenfinal.jpg',
    title: 'Ikeacraze',
    description: 'Videojuego donde el jugador debe crear muebles y entregarlos en un tiempo limite. Desarrollado en Unity y C#. Desarrollado junto a 4 compa침eros para la asignatura de Desarrollo de Videojuegos.',
    githubUrl: 'https://github.com/kitex03/Ikeacraze',
    videoUrl: 'https://vimeo.com/1117384670',
  },
  {
    id: 'proyecto3',
    image: '/portfolioWeb/Malla.png',
    title: 'Tela hecha con position based dynamics',
    description: 'Una simulaci칩n de tela que utiliza din치micas basadas en la posici칩n para crear efectos realistas. Desarrollada con processing y C++.',
    githubUrl: 'https://github.com/kitex03/PBD',
    videoUrl: 'https://vimeo.com/1047753032?share=copy',
  },
  {
    id: 'proyecto4',
    image: '/portfolioWeb/Aprendizaje.png',
    title: 'Aprendizaje por refuerzo',
    description: 'Un proyecto para entrenar un agente inteligente utilizando t칠cnicas de aprendizaje por refuerzo. Implementado en Python.',
    githubUrl: 'https://github.com/kitex03/Aprendizaje-por-refuerzo',
    videoUrl: 'https://vimeo.com/1047752922?share=copy',
  },
  {
    id: 'proyecto5',
    image: '/portfolioWeb/Terrenos.png',
    title: 'Generador de terrenos procedurales 3D',
    description: 'Un addon para Unity que permite generar terrenos 3D de forma procedural. Incluye opciones para personalizar la topograf칤a y texturizaci칩n del terreno.',
    githubUrl: 'https://github.com/kitex03/Terrenos',
    videoUrl: 'https://vimeo.com/1119108042?share=copy',
  },
  {
    id: 'proyecto6',
    image: '/portfolioWeb/Dardos.png',
    title: 'Juego de dardos en RV',
    description: 'Una caseta de feria donde hay un juego de dardos en realidad virtual. Proyecto desarrollado por parejas con Unity y C#.',
    githubUrl: 'https://github.com/kitex03/CasetaFeriaVR',
    videoUrl: 'https://vimeo.com/1119009880?share=copy',
  },
];
---
<section id="projects" class="py-16 px-6 flex flex-col items-center">
  <h2 class="text-3xl font-bold text-white mb-8">游 Proyectos</h2>
  <div class="flex flex-wrap gap-8 justify-center">
    {projects.map(project => (
      <ProjectCard {...project} />
    ))}
  </div>
</section>